body {
  font-family: 'Roboto', sans-serif;
}

.top {
  background-color: #cf2b2b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 92px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.top h1 {
  font-size: 44px;
  letter-spacing: -0.012em;
  margin-bottom: 2px;
  font-family: 'Righteous', cursive;
}

.top p {
  font-size: 18px;
}

.bottom {
  background-color: #ffffff;
  width: 100%;
  height: 92px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.button {
  width: 364px;
  height: 61px;
  background-color: #cbcbcb;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.01em;
}

.content {
  background-color: #e5e5e5;
  padding: 110px 0;
  height: auto;
}

.item-option {
  width: 100%;
  height: auto; /* mudar */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-option-description {
  padding: 15px;
  color: #333333;
  font-size: 26px;
  font-family: 'Righteous', cursive;
}

.items-card {
  width: 100%;
  height: auto;
  display: flex;
  padding-left: 15px;
}

.card {
  width: 172px;
  height: 272px;
  background-color: #ffffff;
  margin: 10px 25px 10px 0;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  border: 6px solid #ffffff;
}

.selected {
  border: 6px solid rgb(28, 184, 28);
}

.card-description {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-description h1 {
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}

.card-description h2 {
  font-weight: 300;
  font-size: 15px;
  color: #a6a6a6;
}

.card-description h3 {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.img {
  width: 95%;
  height: calc(272px / 2);
  border-radius: 9px;
}
.counter {
  position: absolute;
  right: 22px;
  bottom: 30px;
}
